numpy
pandas
seaborn
sklearn
dython
imblearn
tensorflow==2.1.0
# Keras
fsspec
s3fs
kubeflow-fairing==1.0.1
kubeflow-metadata
mlflow



#https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL